.text-input:focused {
    -fx-prompt-text-fill: #616161;
}

.text-input{
    -fx-prompt-text-fill: #616161;
    -fx-background-color: #222222;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #EBA421;
    -fx-text-fill: #dadada;

}

#grid{
    -fx-background-color: #222222;
}

.button{
    -fx-background-color: #EBA421;
    -fx-background-color: rgba(235, 164, 33, 0.5);
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.button:hover{
    -fx-background-color: rgba(235, 164, 33, 1);
}

#login_button{
    -fx-background-color: #EBA421;
    -fx-background-color: rgba(235, 164, 33, 0.5);
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

#login_button:hover{
    -fx-background-color: rgba(235, 164, 33, 1);
}

.ttt_button{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.ttt_button:hover{
    -fx-background-color: rgba(0, 0, 0, 0.05);
}



#top_left_button{
    -fx-border-width: 0 1 1 0;
    -fx-border-color: #EBA421;
}

#top_middle_button{
    -fx-border-width: 0 1 1 1;
    -fx-border-color: #EBA421;
}

#top_right_button{
    -fx-border-width: 0 0 1 1;
    -fx-border-color: #EBA421;
}



#middle_left_button{
    -fx-border-width: 1 1 1 0;
    -fx-border-color: #EBA421;
}

#middle_button{
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #EBA421;
}

#middle_right_button{
    -fx-border-width: 1 0 1 1;
    -fx-border-color: #EBA421;
}

#bottom_left_button{
    -fx-border-width: 1 1 0 0;
    -fx-border-color: #EBA421;
}

#bottom_middle_button{
    -fx-border-width: 1 1 0 1;
    -fx-border-color: #EBA421;
}

#bottom_right_button{
    -fx-border-width: 1 0 0 1;
    -fx-border-color: #EBA421;
}

#scroll{
    
    -fx-background: none;

}